.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.color-text {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24vh;
  font-size: 2.5rem;
  text-transform: uppercase;
}
